
.content{
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 450px){
.nav{
  translate: translate(-300px,0);
  transition: transform 0.3s ease;
}
.hero{
  width: 100%;
  order:0
}
.weather{
  order:3;
  width: 100%;
}
.top-news{
  width:100%;
  order:1;
}
.sports{
  width:100%;
  order:2;
  }
  .recent-news{
    order:4;
  }



@media screen and (min-width: 600px){

  .hero{
    width: 60%;
    order:0
  }
  .weather{
    width:40%;
    order:1;
  }
.top-news{
  width:100%;
  order:2;
}


@media screen and (min-width: 800px){

.content {
  width: 900px;
  margin-right: auto;
  margin-left: auto;
}
.hero{
  width: 50%;
  order:0;
}
.top-news{
  width: 50%;
  order: 1;
}
.scores{
  width: 50%;
  order:2;
}
.weather{
  width:50%;
  order:3;
}
}
